{% extends "home/userBaseDashboard.html" %} {% block userDashboard %} {% load static %}

<div class="grid grid-cols-12 bg-orange-50 min-h-screen">
  <div class="col-span-12 max-h-screen overflow-auto w-full">
    <div class="px-6 py-8">
      <div class="max-w-4xl mx-auto">
        <div class="bg-white rounded-3xl p-8 mb-5 shadow-sm">
          <h2 class="text-2xl font-bold mb-4 text-orange-800">
            User Dashboard
          </h2>
          <div class="min-h-screen">
            <div class="mx-auto py-8">
              {% if messages %}
              <div class="mb-6">
                {% for message in messages %}
                <div
                  class="{% if message.tags == 'password' or message.tags == 'address' or message.tags == 'mobile' %} bg-green-100 text-blue-800 {% elif message.tags == 'error' %} bg-red-100 text-red-800 {% else %} bg-green-100 text-green-800 {% endif %} px-4 py-3 rounded-lg mb-2"
                >
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %} {% if not user.has_usable_password %}
              <div
                class="bg-orange-50 border-l-4 border-orange-500 rounded-md shadow-sm p-4 my-4 w-full"
              >
                <div class="flex items-center mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-orange-500 mr-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <h3 class="font-semibold text-orange-800">
                    Password Not Set
                  </h3>
                </div>
                <p class="text-sm text-orange-700 mb-4">
                  Please set a password for your account to ensure security.
                </p>

                <form id="quick-password-form" class="space-y-3" method="POST">
                  {% csrf_token %}

                  <!-- Password input -->
                  <div class="grid grid-cols-4 gap-2">
                    <div class="">
                      <input
                        type="password"
                        id="password"
                        name="{{ form.new_password1.html_name }}"
                        class="w-full px-3 py-2 border border-orange-200 rounded focus:ring-1 focus:ring-orange-500 focus:border-orange-500 text-sm focus:outline-none"
                        placeholder="New password"
                        required
                      />
                      <button
                        type="button"
                        class="text-orange-400 hover:text-orange-600"
                        onclick="togglePasswordVisibility('password')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                          />
                        </svg>
                      </button>
                    </div>

                    <!-- Confirm Password input -->
                    <div class="">
                      <input
                        type="password"
                        id="confirm_password"
                        name="{{ form.new_password2.html_name }}"
                        class="w-full px-3 py-2 border border-orange-200 rounded focus:ring-1 focus:ring-orange-500 focus:border-orange-500 text-sm focus:outline-none"
                        placeholder="Confirm password"
                        required
                      />
                      <button
                        type="button"
                        class="text-orange-400 hover:text-orange-600"
                        onclick="togglePasswordVisibility('confirm_password')"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-4 w-4"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                          />
                        </svg>
                      </button>
                    </div>

                    <!-- Error message -->
                    <div id="password-error" class="text-xs"></div>

                    <!-- Submit button -->
                  </div>
                  <div class="flex justify-end">
                    <button
                      type="submit"
                      class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm transition duration-300 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
                      id="set-password-btn"
                    >
                      Set Password
                    </button>
                  </div>
                </form>
              </div>
              {% endif %} {% if not user_profile.address %}
              <div
                class="bg-orange-50 border-l-4 border-orange-500 rounded-md shadow-sm p-4 my-4 w-full"
              >
                <div class="flex items-center mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-orange-500 mr-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <h3 class="font-semibold text-orange-800">Address Not Set</h3>
                </div>
                <p class="text-sm text-orange-700 mb-4">
                  Please set a address for your account to deliver your orders.
                </p>

                <form id="quick-address-form" class="space-y-3" method="POST">
                  {% csrf_token %}
                  <!-- Address input -->
                  <div class="w-full">
                    <div class="w-full">
                      <textarea
                        name="address"
                        cols="40"
                        rows="3"
                        required
                        id="id_address"
                        class="px-3 py-2 border border-orange-200 rounded focus:ring-1 focus:ring-orange-500 focus:border-orange-500 text-sm focus:outline-none"
                      ></textarea>
                    </div>
                    <!-- Submit button -->
                    <div class="flex justify-end w-full">
                      <button
                        type="submit"
                        class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm transition duration-300 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
                        id="set-address-btn"
                      >
                        Set Address
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              {% endif %} {% if not user_profile.mobile_number %}
              <div
                class="bg-orange-50 border-l-4 border-orange-500 rounded-md shadow-sm p-4 my-4 w-full"
              >
                <div class="flex items-center mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-orange-500 mr-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <h3 class="font-semibold text-orange-800">
                    Mobile number Not Set
                  </h3>
                </div>
                <p class="text-sm text-orange-700 mb-4">
                  Please set a Mobile number for your account to deliver your
                  orders.
                </p>

                <form id="quick-address-form" class="space-y-3" method="POST">
                  {% csrf_token %}

                  <!-- Address input -->
                  <div class="w-full">
                    {% comment %} Address Input {% endcomment %}
                    <div class="w-full">
                      <input
                        class="px-3 py-2 border border-orange-200 rounded focus:ring-1 focus:ring-orange-500 focus:border-orange-500 text-sm focus:outline-none w-50"
                        required
                        name="mobile_number"
                        id="mobile_number"
                        pattern="[0-9]{10}"
                        type="tel"
                      />

                      <!-- Error message -->
                      <span
                        id="mobile-number-error"
                        class="text-xs text-red-500"
                      >
                      </span>
                    </div>

                    <!-- Submit button -->
                    <div class="flex justify-end w-full">
                      <button
                        type="submit"
                        class="bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded text-sm transition duration-300 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-opacity-50"
                        id="set-mobile-number-btn"
                      >
                        Set Mobile Number
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Toggle password visibility
  function togglePasswordVisibility(fieldId) {
    const field = document.getElementById(fieldId);
    field.type = field.type === "password" ? "text" : "password";
  }

  // Check if passwords match
  document
    .getElementById("password")
    .addEventListener("input", checkPasswordsMatch);
  document
    .getElementById("confirm_password")
    .addEventListener("input", checkPasswordsMatch);

  document
    .getElementById("mobile_number")
    .addEventListener("input", checkMobileNumber);

  function checkPasswordsMatch() {
    const password = document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirm_password").value;
    const errorDiv = document.getElementById("password-error");

    if (!confirmPassword) {
      errorDiv.innerText = "";
      errorDiv.classList.remove("text-red-500", "text-green-500");
    } else if (password !== confirmPassword) {
      errorDiv.innerText = "Passwords do not match";
      errorDiv.classList.add("text-red-500");
      errorDiv.classList.remove("text-green-500");
    } else {
      errorDiv.innerText = "Passwords match";
      errorDiv.classList.add("text-green-500");
      errorDiv.classList.remove("text-red-500");
    }
  }

  function checkMobileNumber() {
    const mobile_number = document.getElementById("mobile_number").value;
    const errorDiv = document.getElementById("mobile-number-error");

    if (mobile_number.length != 10) {
      errorDiv.innerText = "Mobile number length should be of 10 digit";
      return;
    } else {
      errorDiv.innerText = "";
    }
  }

  // Form submission
  document
    .getElementById("quick-password-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const password = document.getElementById("password").value;
      const confirmPassword = document.getElementById("confirm_password").value;
      const errorDiv = document.getElementById("password-error");

      if (password !== confirmPassword) {
        errorDiv.classList.remove("hidden");
        return;
      }

      // Submit the form if passwords match
      this.submit();
    });

  document
    .getElementById("quick-address-form")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const mobile_number = document.getElementById("mobile_number").value;
      const errorDiv = document.getElementById("address-error");

      this.submit();
    });
</script>
{% endblock userDashboard %}
