{% extends "base.html" %} {% block maincontent %} {% load static %}

<style>
  .cuisine-card {
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
</style>
<!-- Cart Header -->
<div class="bg-gradient-to-r from-orange-600 to-orange-400 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h1 class="text-4xl font-bold text-white mb-4">My Cart</h1>
    <p class="text-orange-100 text-lg max-w-2xl mx-auto">
      Here is your cart for your hungry stomach!!
      <br />
      ORDER NOW!!
    </p>
  </div>
</div>

{% comment %} My cart {% endcomment %}
<div class="bg-gray-50 min-h-screen">
  <div class="grid grid-cols-12">
    <div class="col-span-9 w-full px-3 py-12">
      <!-- Cart Items Section -->
      <div class="bg-white rounded-xl shadow-lg overflow-hidden">
        <!-- Cart Headers -->
        <div
          class="hidden md:flex bg-orange-100 text-orange-800 font-semibold px-6 py-4"
        >
          <p>Item in your cart</p>
        </div>
        <!-- Cart Items -->
        <div id="items_cart" class="divide-y divide-gray-200">
          <div
            id="spinner"
            class="w-full min-h-[140px] place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible flex justify-center"
          >
            <svg
              class="text-orange-500 animate-spin"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
            >
              <path
                d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z"
                stroke="currentColor"
                stroke-width="5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                stroke="currentColor"
                stroke-width="5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="text-gray-900"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      {% comment %} Suggestion {% endcomment %}
      <div
        class="bg-white rounded-xl shadow-lg overflow-hidden mt-6 hidden"
        id="suggestionDiv"
      >
        <!-- Cart Headers -->
        <div
          class="hidden md:flex bg-orange-100 text-orange-800 font-semibold px-6 py-4"
        >
          <p>Suggested Items for you!!</p>
        </div>
        <!-- Cart Items -->
        <div id="items_cart" class="">
          {% if not is_empty %}
          <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-6 py-6 px-2"
          >
            {% for cuisine in cuisines %}
            <div
              class="cuisine-card bg-white rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300"
            >
              <!-- Cuisine Image -->
              <div class="h-48 overflow-hidden relative">
                <img
                  loading="lazy"
                  src="{{ cuisine.cusine_image.url }}"
                  alt="{{ cuisine.cusine_name }}"
                  class="w-full h-full object-cover"
                  width="400"
                  height="192"
                />
                <!-- Badge for Type -->
                <span
                  class="absolute top-4 right-4 {% if cuisine.type == 'VEG' %}bg-green-500{% else %}bg-red-500{% endif %} text-white text-xs font-bold px-3 py-1 rounded-full"
                >
                  {{ cuisine.type }}
                </span>
              </div>

              <!-- Cuisine Info -->
              <div class="p-5">
                <div class="flex justify-between items-start mb-2">
                  <h3 class="text-lg font-bold text-gray-900">
                    {{ cuisine.cusine_name }}
                  </h3>
                  <span
                    class="bg-orange-100 text-orange-800 text-xs px-2 py-1 rounded"
                    >{{ cuisine.region }}</span
                  >
                </div>

                <p class="text-gray-600 text-sm mb-4 line-clamp-2">
                  {{ cuisine.cusine_description }}
                </p>

                <div class="flex justify-between items-center mb-4">
                  <div class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 text-gray-500 mr-1"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                    <span class="text-sm text-gray-600"
                      >{{ cuisine.time }} mins</span
                    >
                  </div>
                  <div class="text-lg font-bold text-orange-600">
                    ₹{{ cuisine.price }}
                  </div>
                </div>

                <!-- Add to Cart Button -->
                {% if user.is_authenticated %}
                <button
                  class="addToCartBtn w-full bg-orange-600 hover:bg-orange-700 text-white py-2 px-4 rounded-lg flex items-center justify-center transition duration-200 font-semibold cursor-pointer"
                  data-id="{{ cuisine.id }}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 mr-2 cartLogo"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                    />
                  </svg>

                  <!-- Normal Text -->
                  <span class="btn-text">Add to Cart</span>

                  <!-- Loader Spinner (Initially hidden) -->
                  <svg
                    aria-hidden="true"
                    class="spinner hidden w-5 h-5 text-white animate-spin dark:text-orange-950 fill-blue-600"
                    viewBox="0 0 100 101"
                    fill="fill-blue-600"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor"
                    />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill"
                    />
                  </svg>
                  <span class="sr-only">Loading...</span>
                </button>

                {% else %}
                <a href="{% url 'account_login' %}">
                  <button
                    class="w-full bg-orange-600 hover:bg-orange-700 text-white py-2 px-4 rounded-lg flex items-center justify-center transition duration-200 font-semibold cursor-pointer"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 mr-2"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>
                    Add to Cart
                  </button>
                </a>
                {% endif %}
              </div>
            </div>
            {% empty %}
            <div class="col-span-full py-20 text-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 text-gray-300 mx-auto mb-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                />
              </svg>
              <h3 class="text-xl font-medium text-gray-900">
                No cuisines available
              </h3>
              <p class="text-gray-500 mt-2">
                Please check back later for new dishes.
              </p>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="col-span-3 w-full px-3 py-12">
      <div class="bg-white rounded-xl shadow-lg overflow-hidden">
        <div
          class="hidden md:flex bg-orange-100 text-orange-800 font-semibold px-6 py-4"
        >
          <p>Final Order</p>
        </div>

        <div class="px-6 py-4">
          <h3 class="font-medium text-gray-700 mb-4">Order Summary</h3>

          <div class="space-y-3 mb-6" id="order-summary">
            {% if cart_items %} {% for item in cart_items %}
            <div
              class="flex justify-between items-center text-sm text-gray-600"
              id="order-cart-item-{{ item.cuisine.id }}"
            >
              <div class="flex items-center">
                <span
                  ><span class="item-quantity-{{ item.cuisine.id }}"
                    >{{ item.quantity }}</span
                  >
                  × {{ item.cuisine.cusine_name }}</span
                >
              </div>
              <span class="font-medium"
                >₹<span class="item-subtotal item-total-{{ item.cuisine.id }} "
                  >{{ item.cuisine.price }}</span
                ></span
              >
            </div>
            {% endfor %} {% else %}
            <div class="text-gray-500 text-sm italic">No items in cart</div>
            {% endif %}
          </div>

          {% if cart_items %}
          <!-- Divider -->
          <div class="border-t border-gray-200 my-4"></div>

          <!-- Subtotal -->
          <div id="subtotalDiv">
            <div class="flex justify-between items-center mb-2">
              <span class="text-gray-600">Subtotal</span>
              <span class="font-medium text-gray-600"
                >₹<span id="subtotal"></span
              ></span>
            </div>

            <!-- Delivery Fee -->
            <div class="flex justify-between items-center" id="deliveryDiv">
              <span class="text-gray-600">Delivery Fee</span>
              <span class="font-medium text-gray-600"
                >₹<span id="delivery"> 50</span></span
              >
            </div>

            {% comment %} Free Delivery {% endcomment %}
            <div
              class="flex justify-between items-center hidden"
              id="freeDeliveryDiv"
            >
              <span class="text-gray-600">Delivery Fee</span>
              <span class="font-medium text-gray-600">
                <span id="delivery" class="line-through italic text-gray-600"
                  >₹ 50</span
                ></span
              >
            </div>
            <p class="mb-2 mt-0 text-gray-600 text-sm">
              Delivery over 500 is <i class="text-green-600">FREE</i>
            </p>

            <!-- Tax -->
            <div class="flex justify-between items-center mb-2">
              <span class="text-gray-600">Tax</span>
              <span class="font-medium tax text-gray-600"
                >₹ <span id="tax">18</span></span
              >
            </div>

            <!-- Divider -->
            <div class="border-t border-gray-200 my-4"></div>

            <!-- Total -->
            <div class="flex justify-between items-center mb-6">
              <span class="font-semibold text-gray-800">Total</span>
              <span class="font-bold text-xl text-orange-600"
                >₹ <span id="total"></span>{{ total }}</span
              >
            </div>
          </div>
          {% endif %}
          <!-- Checkout Button -->
          {% if cart_items %}
          <button
            id="open-drawer-button"
            class="block w-full bg-gradient-to-r from-orange-600 to-orange-400 text-white font-medium py-3 px-6 rounded-md transition duration-300 text-center cursor-pointer"
          >
            Proceed to Checkout
          </button>

          {% endif %}

          <!-- Continue Shopping Link -->
          <div class="text-center mt-4">
            <a
              href="{% url 'cuisine' %}"
              class="text-orange-600 hover:text-orange-800 text-sm font-medium inline-flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                />
              </svg>
              Continue Shopping
            </a>
          </div>

          <!-- Payment Methods -->
          {% if cart_items %}
          <div class="mt-6">
            <p class="text-xs text-gray-500 mb-2">We Accept:</p>
            <div class="grid grid-cols-2 gap-2">
              <div
                class="col-span-1 p-2 border border-gray-200 rounded flex items-center justify-center"
              >
                <img
                  loading="lazy"
                  src="{% static 'images/visa_icon.svg' %}"
                  alt="Visa"
                  class="h-8 w-auto object-contain"
                />
              </div>
              <div
                class="p-2 border border-gray-200 rounded flex items-center justify-center col-span-1"
              >
                <img
                  loading="lazy"
                  src="{% static 'images/mastercard_icon.svg' %}"
                  alt="Mastercard"
                  class="h-8 w-auto object-contain"
                />
              </div>
              <div
                class="p-2 border border-gray-200 rounded flex items-center justify-center col-span-1"
              >
                <img
                  loading="lazy"
                  src="{% static 'images/bhim_icon.svg' %}"
                  alt="BHIM UPI"
                  class="h-8 w-auto object-contain"
                />
              </div>
              <div
                class="p-2 border border-gray-200 rounded flex items-center justify-center col-span-1"
              >
                <img
                  loading="lazy"
                  src="{% static 'images/google_pay.svg' %}"
                  alt="BHIM UPI"
                  class="h-8 w-auto object-contain"
                />
              </div>
            </div>
          </div>
          {% endif %}

          <!-- Secure Checkout Notice -->
          {% if cart_items %}
          <div class="flex items-center justify-center mt-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 text-green-600 mr-1"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
              />
            </svg>
            <span class="text-xs text-gray-500">Secure Checkout</span>
          </div>
          {% endif %}
        </div>
      </div>

      <!-- Customer Support -->
      <div class="mt-6 bg-white rounded-xl shadow-lg overflow-hidden">
        <div class="px-6 py-4">
          <div class="grid grid-cols-4 gap-2">
            <div
              class="rounded-full col-span-1 flex justify-center items-center"
            >
              <img
                loading="lazy"
                src="{% static 'images/help.svg' %}"
                alt="BHIM UPI"
                class="h-8 w-auto object-contain"
              />
            </div>
            <div class="col-span-3">
              <h4 class="text-sm font-medium text-gray-700">Need Help?</h4>
              <p class="text-xs text-gray-500">
                Our customer service is available 24/7
              </p>
              <a
                href="{% url 'contact' %}"
                class="text-xs text-orange-600 hover:text-orange-800"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cart Toast Notification -->
<div
  id="cart-toast"
  class="hidden fixed bottom-5 right-5 bg-gradient-to-r from-orange-600 to-orange-400 text-white font-semibold px-4 py-3 rounded-lg shadow-lg items-center z-50"
>
  <div class="flex justify-between items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Added to cart!</span>
  </div>
</div>

{% comment %} Already existing cart Toast Notification {% endcomment %}
<div
  id="exist-cart-toast"
  class="hidden fixed bottom-5 right-5 bg-gradient-to-r from-orange-600 to-orange-400 text-white font-semibold px-4 py-3 rounded-lg shadow-lg items-center z-50"
>
  <div class="flex justify-between items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Item already in cart</span>
  </div>
</div>

<!-- Cart Remove Toast Notification -->
<div
  id="remove-cart-toast"
  class="hidden fixed bottom-5 right-5 bg-gradient-to-r from-orange-600 to-orange-400 text-white font-semibold px-4 py-3 rounded-lg shadow-lg items-center z-50"
>
  <div class="flex justify-between items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Item Removed from cart!</span>
  </div>
</div>

<!-- Drawer component -->
<div
  id="drawer-bottom-example"
  class="fixed bottom-0 left-0 right-0 z-40 w-full p-4 overflow-y-auto transition-transform duration-300 ease-in-out bg-white shadow-lg border-t-2 border-orange-500 translate-y-full hidden"
  tabindex="-1"
  aria-labelledby="drawer-bottom-label"
>
  <div class="flex justify-between px-4">
    <div>
      <h5
        id="drawer-bottom-label"
        class="inline-flex items-center mb-1 text-base font-semibold text-orange-600"
      >
        <svg
          class="w-4 h-4 mr-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          /></svg
        >Place your order
      </h5>
      <p class="text-sm mb-4 text-orange-600">
        We are using your default address and number. Chnage if you want.
      </p>
    </div>
    <div>
      <button
        type="button"
        data-drawer-hide="drawer-bottom-example"
        aria-controls="drawer-bottom-example"
        class="p-2 text-orange-500 bg-transparent hover:bg-orange-200 hover:text-orange-700 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center cursor-pointer"
        id="close-drawer"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close menu</span>
      </button>
    </div>
  </div>

  <!-- Address Field -->
  <div class="mb-4">
    <label for="address" class="block mb-2 text-sm font-medium text-gray-900"
      >Delivery Address</label
    >
    <textarea
      id="address"
      rows="2"
      cols="100"
      class="block p-2 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-orange-500 focus:border-orange-500 focus:outline-none"
      placeholder="Enter your full delivery address..."
    >
{{ user_address }}</textarea
    >
    <p id="address-error" class="mt-1 text-sm text-red-600 hidden">
      Address is required.
    </p>
  </div>

  <!-- Mobile Number Field -->
  <div class="mb-4">
    <label for="number" class="block mb-2 text-sm font-medium text-gray-900"
      >Mobile Number</label
    >
    <input
      id="number"
      class="block p-2 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-orange-500 focus:border-orange-500 focus:outline-none"
      placeholder="Enter your mobile number..."
      value="{% if user_number %}{{ user_number }}{% endif %}"
    />
    <p id="number-error" class="mt-1 text-sm text-red-600 hidden">
      Mobile number is required.
    </p>
  </div>

  <div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-gray-900"
      >Payment Method</label
    >
    <div class="grid grid-cols-12 gap-3">
      <div
        class="flex col-span-2 items-center p-3 rounded-lg cursor-pointer hover:bg-orange-50"
      >
        <input
          id="payment-cod"
          type="radio"
          name="payment"
          style="accent-color: #f97316"
          value="COD"
          class="w-4 h-4 text-orange-600 focus:ring-orange-500"
        />
        <label
          for="payment-cod"
          class="w-full ms-2 text-sm font-medium text-gray-900 cursor-pointer"
          >Cash on Delivery</label
        >
      </div>
      <div
        class="flex col-span-2 items-center p-3 rounded-lg cursor-pointer hover:bg-orange-50"
      >
        <input
          id="payment-upi"
          type="radio"
          name="payment"
          style="accent-color: #f97316"
          value="UPI"
          class="w-4 h-4 text-orange-600 focus:ring-orange-500"
        />
        <label
          for="payment-upi"
          class="w-full ms-2 text-sm font-medium text-gray-900 cursor-pointer"
          >UPI</label
        >
      </div>
    </div>
    <p id="payment-error" class="mt-1 text-sm text-red-600 hidden">
      Please select a payment method.
    </p>
  </div>
  <!-- Order Button (Initially Disabled) -->
  <div class="flex px-4 space-x-3 justify-center items-center">
    <button
      id="order_btn"
      disabled
      class="flex-1 inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-orange-600 to-orange-400 rounded-lg hover:from-orange-700 hover:to-orange-500 focus:ring-4 focus:ring-orange-300 focus:outline-none transition duration-300 shadow-md hover:shadow-lg"
    >
      Place order
    </button>
  </div>
</div>

{% comment %} fetch cart {% endcomment %}
<script>
  fetch(`/get_cart_data_json/`, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": "{{ csrf_token }}",
    },
  })
    .then((response) => response.json())
    .then((response) => {
      console.log(response.cart_items.length);
      const items_cart = document.getElementById("items_cart");
      if (response.cart_items.length === 0) {
        document.getElementById("spinner").classList.add("hidden");
        items_cart.innerHTML = `
        <div class="bg-white rounded-lg shadow-md p-8 text-center">
            <div class="flex flex-col items-center justify-center py-12">
              <div class="w-16 h-16 bg-orange-100 rounded-full flex items-center justify-center mb-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-12 w-12 text-orange-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
              </div>

              <h2 class="text-2xl font-bold text-gray-700 mb-2">
                Your cart is empty
              </h2>
              <p class="text-gray-500 mb-8">
                No orders are available right now.
              </p>

              <a
                href="{% url 'cuisine' %}"
                class="bg-gradient-to-r from-orange-600 to-orange-400 text-white font-medium py-3 px-6 rounded-md transition duration-300 flex items-center space-x-2 mt-3"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span>Browse Cuisine</span>
              </a>
            </div>
          </div>
        `;
      } else {
        document.getElementById("spinner").classList.add("hidden");

        response.cart_items.forEach((item) => {
          const html = `
        <div class="cart-item flex flex-col md:flex-row items-center px-6 py-5 hover:bg-orange-50 transition duration-150 divide-gray-200"  id="cart-item-${
          item.cuisine.id
        }" data-id="${item.cuisine.id}">
          <div class="w-full md:w-2/5 flex items-center space-x-4 mt-4 mb-4 md:mb-0">
            <div class="w-16 h-16 flex-shrink-0">
              <img
                loading = "lazy" src="${item.cuisine.cusine_image_url}" alt="${
            item.cuisine.cusine_name
          }" class="w-full h-full object-cover rounded-md" />
            </div>
            <div>
              <h3 class="font-semibold text-gray-900">${
                item.cuisine.cusine_name
              }</h3>
              <p class="text-sm text-gray-500">${item.cuisine.type} | ${
            item.cuisine.region
          }</p>
              <p class="text-xs text-gray-400">Approx. ${
                item.cuisine.time
              } min</p>
            </div>
          </div>

          <div class="w-full md:w-1/5 text-center mb-2 md:mb-0">
            <span class="md:hidden font-medium text-gray-500">Price:</span>
            <span class="text-orange-600">₹<span id="item_price_${
              item.cuisine.id
            }" class="font-medium">${
            item.cuisine.price
          }<span class="text-gray-400 text-sm font-mono italic">/qty</span></span></span>
          </div>

          <div class="w-full md:w-1/5 flex justify-center mb-2 md:mb-0">
            <div class="flex items-center border border-gray-300 rounded-md">
              <button data-id="${
                item.cuisine.id
              }" type="button" class="decrease px-3 py-1 bg-orange-100 hover:bg-orange-200 text-orange-600 rounded-l-md transition cursor-pointer">&minus;</button>
              <input type="number" id="item-quantity-${
                item.cuisine.id
              }" value="${item.quantity}" min="1" class="item-quantity-${
            item.cuisine.id
          } outline-none text-center border-none focus:ring-0 focus:border-none w-12" readonly />
              <button data-id="${
                item.cuisine.id
              }" type="button" class="increase px-3 py-1 bg-orange-100 hover:bg-orange-200 text-orange-600 rounded-r-md transition cursor-pointer">&plus;</button>
            </div>
          </div>

          <div class="w-full md:w-1/5 text-center mb-2 md:mb-0">
            <span class="md:hidden font-medium text-gray-500">Total:</span>
            <span class="font-semibold text-orange-600">₹<span class="item-total-${
              item.cuisine.id
            }">${item.cuisine.price * item.quantity}</span></span>
          </div>

          <div class="hidden md:flex items-center justify-end">
            <button type="button" class="removeBtn text-sm text-red-600 hover:text-red-800 transition cursor-pointer" data-id="${
              item.cuisine.id
            }">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </div>
        </div>
        `;
          items_cart.innerHTML += html;
        });
      }
    });
</script>

{% comment %} Increase and decrease Logic {% endcomment %}
<script>
  function updateTotals() {
    let new_subtotal = 0;

    document.querySelectorAll(".item-subtotal").forEach((element) => {
      if (element.tagName === "SPAN") {
        new_subtotal += parseInt(element.textContent);
      }
    });
    console.log(new_subtotal);
    document.getElementById("subtotal").innerText = new_subtotal;

    let tax = parseInt(document.getElementById("tax").textContent);
    let delivery =
      parseInt(document.getElementById("delivery").textContent) || 0;

    if (new_subtotal === 0) {
      document.getElementById("subtotalDiv").classList.add("hidden");
      document.getElementById("CheckoutBtn").classList.add("hidden");
      document.getElementById("suggestionDiv").classList.add("hidden");
      items_cart.innerHTML = `
        <div class="bg-white rounded-lg shadow-md p-8 text-center">
            <div class="flex flex-col items-center justify-center py-12">
              <div class="w-16 h-16 bg-orange-100 rounded-full flex items-center justify-center mb-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-12 w-12 text-orange-500"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
              </div>

              <h2 class="text-2xl font-bold text-gray-700 mb-2">
                Your cart is empty
              </h2>
              <p class="text-gray-500 mb-8">
                No orders are available right now.
              </p>

              <a
                href="{% url 'cuisine' %}"
                class="bg-gradient-to-r from-orange-600 to-orange-400 text-white font-medium py-3 px-6 rounded-md transition duration-300 flex items-center space-x-2 mt-3"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <span>Browse Cuisine</span>
              </a>
            </div>
          </div>
        `;
    } else {
      document.getElementById("suggestionDiv").classList.remove("hidden");
    }

    if (new_subtotal > 500) {
      delivery = 0;
      document.getElementById("deliveryDiv").classList.add("hidden");
      document.getElementById("freeDeliveryDiv").classList.remove("hidden");
    } else {
      document.getElementById("deliveryDiv").classList.remove("hidden");
      document.getElementById("freeDeliveryDiv").classList.add("hidden");
    }

    document.getElementById("total").textContent =
      new_subtotal + tax + delivery;
  }

  // EVENT DELEGATION FOR INCREASE & DECREASE BUTTONS
  const items_cart = document.getElementById("items_cart");

  items_cart.addEventListener("click", function (e) {
    const target = e.target;

    if (target.classList.contains("increase")) {
      e.preventDefault();
      const cuisine_item = target.dataset.id;
      const unit_price = parseInt(
        document.getElementById(`item_price_${cuisine_item}`).textContent
      );

      fetch(`/cart_items_quantity_increase/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({ query: cuisine_item }),
      })
        .then((response) => response.json())
        .then((response) => {
          cart_item_quantity = document.getElementById(
            `item-quantity-${cuisine_item}`
          );
          cart_item_quantity.value = response.quantity;
          item_price = document.getElementById(`item_price_${cuisine_item}`).innerContent
          console.log(item_price)
          document.querySelectorAll(`item-total-${cuisine_item}`).innerText = item_price * response.quantity;
        });
      updateTotals();
    }
    if (target.classList.contains("decrease")) {
      e.preventDefault();
      const cuisine_item = target.dataset.id;
      const unit_price = parseInt(
        document.getElementById(`item_price_${cuisine_item}`).textContent
      );

      fetch(`/cart_items_quantity_decrease/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({ query: cuisine_item }),
      })
        .then((response) => response.json())
        .then((response) => {
          cart_item_quantity = document.getElementById(
            `item-quantity-${cuisine_item}`
          );
          cart_item_quantity.value = response.quantity;
        });
      updateTotals();
    }
  });

  // INITIAL TOTAL CALCULATION
  updateTotals();
</script>

{% comment %} Remove item Logic {% endcomment %}
<script>
  document.getElementById("items_cart").addEventListener("click", function (e) {
    const button = e.target.closest(".removeBtn");
    const removeCartToast = document.getElementById("remove-cart-toast");

    if (!button) return;

    e.preventDefault();
    const cuisine_id = button.dataset.id;

    fetch("/removeItem/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({ query: cuisine_id }),
    })
      .then((response) => response.json())
      .then((response) => {
        // Either rerender or directly remove from DOM
        const itemRow = document.getElementById(`cart-item-${cuisine_id}`);
        if (itemRow) itemRow.remove();

        const summaryRow = document
          .querySelector(`.item-total-${cuisine_id}`)
          ?.closest("div");
        if (summaryRow) summaryRow.remove();
        removeCartToast.classList.remove("hidden");
        setTimeout(() => {
          removeCartToast.classList.add("hidden");
        }, 5000);

        const container = document.getElementById(
          `order-cart-item-${cuisine_id}`
        );

        updateTotals();
      })
      .catch((error) => {
        console.error("Remove error:", error);
      });
  });
</script>

{% comment %} Add to cart {% endcomment %}
<script>
  document.querySelectorAll(".addToCartBtn").forEach((btn) => {
    btn.addEventListener("click", function (e) {
      e.preventDefault();

      const textSpan = this.querySelector(".btn-text");
      const spinner = this.querySelector(".spinner");
      const cartLogo = this.querySelector(".cartLogo");
      const cartToast = document.getElementById("cart-toast");
      const alreadyCartToast = document.getElementById("exist-cart-toast");
      textSpan.classList.add("hidden");
      cartLogo.classList.add("hidden");
      spinner.classList.remove("hidden");

      const cuisine_id = this.dataset.id;
      fetch(`/addToCart/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          query: cuisine_id,
        }),
      })
        .then((response) => response.json())
        .then((response) => {
          if (response.exist == true) {
            alreadyCartToast.classList.remove("hidden");
            spinner.classList.add("hidden");
            cartLogo.classList.remove("hidden");
            textSpan.classList.remove("hidden");
            textSpan.innerHTML = "Already in the cart";
            setTimeout(() => {
              alreadyCartToast.classList.add("hidden");
            }, 5000);
          }
          if (response.success == true) {
            cartToast.classList.remove("hidden");
            spinner.classList.add("hidden");
            this.classList.remove("bg-orange-600");
            this.classList.remove("hover:bg-orange-700");
            this.classList.remove("cursor-pointer");
            this.classList.add("bg-green-600");
            textSpan.classList.remove("hidden");
            textSpan.innerHTML = "Added to cart";
            setTimeout(() => {
              cartToast.classList.add("hidden");
            }, 5000);

            const item = response.cart_item;

            const html = `
              <div class="flex flex-col md:flex-row items-center px-6 py-5 hover:bg-orange-50 transition duration-150 divide-gray-200" id="cart-item-${
                item.cuisine.id
              }">
                <div class="w-full md:w-2/5 flex items-center space-x-4 mt-4 mb-4 md:mb-0">
                  <div class="w-16 h-16 flex-shrink-0">
                    <img
                      loading = "lazy" src="${
                        item.cuisine.cusine_image_url
                      }" alt="${
              item.cuisine.cusine_name
            }" class="w-full h-full object-cover rounded-md" />
                  </div>
                  <div>
                    <h3 class="font-semibold text-gray-900">${
                      item.cuisine.cusine_name
                    }</h3>
                    <p class="text-sm text-gray-500">${item.cuisine.type} | ${
              item.cuisine.region
            }</p>
                    <p class="text-xs text-gray-400">Approx. ${
                      item.cuisine.time
                    } min</p>
                  </div>
                </div>
                <div class="w-full md:w-1/5 text-center mb-2 md:mb-0">
                  <span class="md:hidden font-medium text-gray-500">Price:</span>
                  <span class="text-orange-600">₹<span id="item_price_${
                    item.cuisine.id
                  }" class="font-medium">${
              item.cuisine.price
            }<span class="text-gray-400 text-sm font-mono italic">/qty</span></span></span>
                </div>
                <div class="w-full md:w-1/5 flex justify-center mb-2 md:mb-0">
                  <div class="flex items-center border border-gray-300 rounded-md">
                    <button data-id="${
                      item.cuisine.id
                    }" type="button" class="decrease px-3 py-1 bg-orange-100 hover:bg-orange-200 text-orange-600 rounded-l-md transition cursor-pointer">&minus;</button>
                    <input type="number" id="item-quantity-${
                      item.cuisine.id
                    }" value="${item.quantity}" min="1" class="item-quantity-${
              item.cuisine.id
            } outline-none text-center border-none focus:ring-0 focus:border-none w-12" readonly />
                    <button data-id="${
                      item.cuisine.id
                    }" type="button" class="increase px-3 py-1 bg-orange-100 hover:bg-orange-200 text-orange-600 rounded-r-md transition cursor-pointer">&plus;</button>
                  </div>
                </div>
                <div class="w-full md:w-1/5 text-center mb-2 md:mb-0">
                  <span class="md:hidden font-medium text-gray-500">Total:</span>
                  <span class="font-semibold text-orange-600">₹<span class="item-total-${
                    item.cuisine.id
                  }">${item.cuisine.price * item.quantity}</span></span>
                </div>
                <div class="hidden md:flex items-center justify-end">
                  <button type="button" class="removeBtn text-sm text-red-600 hover:text-red-800 transition cursor-pointer" data-id="${
                    item.cuisine.id
                  }">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  </button>
                </div>
              </div>
              `;

            document
              .getElementById("items_cart")
              .insertAdjacentHTML("beforeend", html);

            const summaryDiv = document.getElementById("order-summary");
            const itemHTML = `
              <div class="flex justify-between items-center text-sm text-gray-600" id="order-cart-item-${item.cuisine.id}">
                <div class="flex items-center">
                  <span>
                    <span class="item-quantity-${item.cuisine.id}">1</span>
                    × ${item.cuisine.cusine_name}
                  </span>
                </div>
                <span class="font-medium">
                  ₹<span class="item-subtotal item-total-${item.cuisine.id}">${item.cuisine.price}</span>
                </span>
              </div>
            `;
            summaryDiv.insertAdjacentHTML("beforeend", itemHTML);
            updateTotals();
          }
        });
    });
  });
</script>

{% comment %} Drawer Logic {% endcomment %}
<script>
  const drawer = document.getElementById("drawer-bottom-example");
  const openBtn = document.getElementById("open-drawer-button");
  const closeBtn = document.getElementById("close-drawer");

  openBtn.addEventListener("click", () => {
    drawer.classList.remove("hidden", "translate-y-full");
    drawer.classList.add("translate-y-0");
    validateInputs();
  });

  closeBtn.addEventListener("click", () => {
    drawer.classList.remove("translate-y-0");
    drawer.classList.add("translate-y-full");
    drawer.classList.add("hidden");

    const paymet_btn = document.querySelectorAll('input[name="payment"]');
    paymet_btn.forEach((radio) => {
      radio.checked = false;
    });

    const orderBtn = document.getElementById("order_btn");
    orderBtn.innerText = "Place order";
    orderBtn.disabled = true;
  });
</script>

{% comment %} Place ORDER {% endcomment %}
<script>
  const addressInput = document.getElementById("address");
  const numberInput = document.getElementById("number");
  const orderBtn = document.getElementById("order_btn");
  const paymentRadios = document.querySelectorAll('input[name="payment"]');

  const addressError = document.getElementById("address-error");
  const numberError = document.getElementById("number-error");
  const paymentError = document.getElementById("payment-error");

  const validateInputs = () => {
    const address = addressInput.value.trim();
    const number = numberInput.value.trim();
    const orderBtn = document.getElementById("order_btn");
    const paymentSelected = document.querySelector(
      'input[name="payment"]:checked'
    );

    let isValid = true;

    if (!address) {
      addressError.classList.remove("hidden");
      isValid = false;
    } else {
      addressError.classList.add("hidden");
    }

    if (!number) {
      numberError.classList.remove("hidden");
      isValid = false;
    } else {
      numberError.classList.add("hidden");
    }

    if (!paymentSelected) {
      paymentError.classList.remove("hidden");
      isValid = false;
    } else {
      paymentError.classList.add("hidden");
    }

    return isValid;
  };

  addressInput.addEventListener("input", validateInputs);
  numberInput.addEventListener("input", validateInputs);
  paymentRadios.forEach((radio) => {
    radio.addEventListener("change", () => {
      validateInputs();
      let is_order = validateInputs();
      console.log("is_order", is_order);
      if (is_order) {
        const orderBtn = document.getElementById("order_btn");
        orderBtn.disabled = false;
      }
    });
  });

  orderBtn.addEventListener("click", () => {
    const paymentSelected = document.querySelector(
      'input[name="payment"]:checked'
    );
    if (paymentSelected && paymentSelected.value === "UPI") {
      const cartData = getCartData();
      fetch(`/cart_total_price/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          query: cartData,
        }),
      })
        .then((response) => response.json())
        .then((response) => {
          if (response.success === true) {
            const orderBtn = document.getElementById("order_btn");
            orderBtn.innerText = `Pay Now ₹ ${response.total}`;
          }
        });
    }

    // COD
    if (paymentSelected && paymentSelected.value === "COD") {
      const cartData = getCartData();
      fetch(`/cart_total_price/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          query: cartData,
        }),
      })
        .then((response) => response.json())
        .then((response) => {
          if (response.success === true) {
            for_COD = response.total;
            console.log(for_COD);
            const orderBtn = document.getElementById("order_btn");
            orderBtn.innerText = `Pay ₹ ${response.total} to Delivery boy`;
          }
        });
    }
  });

  function getCartData() {
    const cartData = [];

    document.querySelectorAll(".cart-item").forEach((item) => {
      const cuisineId = item.dataset.id;
      const quantityInput = item.querySelector(`input[id^="item-quantity-"]`);
      const quantity = parseInt(quantityInput.value);

      cartData.push({
        cuisine_id: cuisineId,
        quantity: quantity,
      });
    });

    return cartData;
  }
</script>

{% endblock %}
