{% extends "base.html" %} {% block maincontent %}
<div
  class="flex min-h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md">
    <div class="bg-white rounded-lg shadow-xl overflow-hidden">
      <!-- Header with gradient -->
      <div
        class="bg-gradient-to-r from-orange-400 to-orange-600 px-6 py-8 text-center"
      >
        <h2 class="text-3xl font-extrabold text-white tracking-wide">
          Order delivered
        </h2>
      </div>

      <!-- Message -->
      <div class="px-8 py-6 text-center">
        <p class="mt-2 text-gray-700">
            Order Completed
        </p>
        <div class="mt-6">
          <a
            href="{% url 'pendingDelivery' %}"
            class="font-medium text-orange-600 hover:text-orange-500 transition duration-300"
          >
            Back to Orders
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock maincontent %}
